=form_for Note.new, url: new_note_path(@beer_geek.name), method: :get do |f|
  =f.collection_select :beer_id, current_beer_geek.beer_not_noted, :id, :name, prompt: true
  =f.submit I18n.t('note.new')
